.document {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
@media (min-width:320px) { 
/* smartphones, iPhone, portrait 480x320 phones */ 
    .document { width: auto; }
}
@media (min-width:481px) {
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .document { width: auto; }
}
@media (min-width:641px) {
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .document { width: 620px; }
}
@media (min-width:961px) {
/* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .document { width: 940px; }
}
@media (min-width:1025px) {
/* big landscape tablets, laptops, and desktops */ 
    .document { width: 940px; }
}
@media (min-width:1281px) {
/* hi-res laptops and desktops */
    .document { width: 940px; }
}
